@layer base {
  :root {
    /* Mapped from Catppuccin Mocha Palette */
    --primary: hsl(267deg, 84%, 81%); /* Mauve */
    --accent: hsl(10deg, 56%, 91%); /* Rosewater */

    --base-1: hsl(240deg, 21%, 15%); /* Base */
    --base-2: hsl(240deg, 21%, 12%); /* Mantle */
    --base-3: hsl(240deg, 23%, 9%); /* Crust */

    --content-1: hsl(226deg, 64%, 88%); /* Text */
    --content-2: hsl(227deg, 35%, 80%); /* Subtext1 */
    --content-3: hsl(228deg, 24%, 72%); /* Subtext0 */

    --overlay: hsl(231deg, 11%, 47%); /* Overlay 0 */

    --info: hsl(217deg, 92%, 76%); /* Blue */
    --success: hsl(115deg, 54%, 76%); /* Green */
    --warning: hsl(41deg, 86%, 83%); /* Yellow */
    --destructive: hsl(343deg, 81%, 75%); /* Red */

    /* A single dark content color provides great contrast for all status colors */
    --info-content: hsl(240deg, 23%, 9%); /* Crust */
    --success-content: hsl(240deg, 23%, 9%); /* Crust */
    --warning-content: hsl(240deg, 23%, 9%); /* Crust */
    --destructive-content: hsl(240deg, 23%, 9%); /* Crust */

    --selection: hsl(228deg, 17%, 64%); /* Overlay 2 */
    --cursor: hsl(10deg, 56%, 91%); /* Rosewater */
  }
}
